# ignore emacs buffer files
*~
\#*\#
*_bkp*

#ignore a symlink to my scripts
_sc
#ignore temp dir and contents
_temp/
/temp/


#ignore for 0x02
0x02-functions_nested_loops/*-main.c

#ignore hidden files
.*
!.git
!.gitignore
